div(layout="column", flex)
  div(layout-padding)
    md-chips(ng-model="consommations", md-autocomplete-snap="true", md-require-match="true")
      md-autocomplete(
        flex,
        md-autofocus="focus",
        placeholder="Votre consommation",
        md-selected-item="conso.selected",
        md-search-text="conso.search",
        md-items="consommable in search(conso.search)",
        md-selected-item-change="selected(conso.selected)",
        md-min-length="0",
        md-no-cache="true",
        ng-keypress="keyPress($event)",
        ng-disabled="disabled"
      )
        span {{consommable.nom}} : {{consommable.prix}}€
      md-chip-template
        span
          strong {{$chip.nom}}
          em  ({{$chip.prix}}€ x {{$chip.quantity}})
          
  md-data-table-container
    table(md-data-table)
      thead
        tr
          th(name="Consommation")
          th(name="Prix")
          th(numeric name="Nombre")
          th(numeric name="Total" unit="€")
          th(numeric name="Ajouter")
          th(numeric name="Delete")
      tbody
        tr(md-auto-select ng-repeat="consommation in consommations")
          td {{consommation.nom}}
          td {{consommation.prix}}
          td {{consommation.quantity}}
          td {{consommation.prix * consommation.quantity | number:2}}
          td
            md-button.md-icon-button(ng-click="add($index)")
              md-icon(aria-label="add one", md-svg-src="css/icons/ic_add_24px.svg")
          td
            md-button.md-icon-button(ng-click="supp($index)")
              md-icon(aria-label="delete", md-svg-src="css/icons/ic_delete_24px.svg")

  md-button.md-primary.md-raised(ng-disabled="sum === 0 || disabled", ng-click="submit()") Payer {{sum | number:2}} €
