div(layout="column", flex)
  div(layout-padding)
    md-chips(ng-model="consommations", md-autocomplete-snap="true", md-require-match="true")
      md-autocomplete(
        flex,
        md-autofocus="focus",
        placeholder="Votre consommation",
        md-selected-item="conso.selected",
        md-search-text="conso.search",
        md-items="consommable in search(conso.search)",
        md-selected-item-change="selected(conso.selected)",
        md-min-length="0",
        md-no-cache="true",
        ng-keypress="keyPress($event)",
        ng-disabled="disabled"
      )
        span {{consommable.nom}} : {{consommable.prix}}€
      md-chip-template
        span
          strong {{$chip.nom}}
          em  ({{$chip.prix}}€ x {{$chip.quantity}})
          
  md-table-container
    table(md-table)
      thead(md-head)
        tr(md-row)
          th(md-column) Consommation
          th(md-column) Prix
          th(md-column md-numeric) Nombre
          th(md-column md-numeric) Total
          th(md-column md-numeric) Ajouter
          th(md-column md-numeric) Delete
      tbody(md-body)
        tr(md-row md-auto-select ng-repeat="consommation in consommations")
          td(md-cell) {{consommation.nom}}
          td(md-cell) {{consommation.prix}}€
          td(md-cell) {{consommation.quantity}}
          td(md-cell) {{consommation.prix * consommation.quantity | number:2}}€
          td(md-cell)
            md-button.md-icon-button(ng-click="add($index)")
              md-icon(aria-label="add one", md-svg-src="css/icons/ic_add_24px.svg")
          td(md-cell)
            md-button.md-icon-button(ng-click="supp($index)")
              md-icon(aria-label="delete", md-svg-src="css/icons/ic_delete_24px.svg")

  md-button.md-primary.md-raised(ng-disabled="sum === 0 || disabled", ng-click="submit()") Payer {{sum | number:2}} €
