md-autocomplete(
  md-selected-item="selected.user"
  md-search-text="search"
  md-items="user in users"
  md-item-text="user.display"
  md-floating-label="Utilisateurs"
  md-autofocus="true"
)
  md-item-template
    span(md-highlight-text="search") {{user.display}}

select-consommation(
  consommables="consommables"
  consommations="consommations"
  payer="payer"
  disabled="disabled"
  layout="column"
  focus="false"
  flex
)
